/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  background-color: var(--white);
  color: var(--txt-black);
  margin: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-main);
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.43;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

button:hover,
button:active,
button:focus {
  background-color: var(--blue-hover);
}
